.section1 {
    background: url('./../../public/image1.png') no-repeat center center fixed;
    width: 100%;
    height: 110vh;
    margin-bottom: 0;
}

.divprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    text-align: center;
    margin-top: 8rem;
}

.h2 {
    color: yellow;
    font-size: 3rem;
    margin-bottom: 0;
}

.h2dev {
    font-size: large;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 450px) {
    .divprincipal {
        margin-top: 0;
    }
    .section {
        height: 100vh;
    }
}