.section {
    background-color: black;
    width: 100%;
    min-height: 155vh;
}
.titlecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2 {
    font-size: 3rem;
    margin-bottom: 0;
    color: white;
    font-weight: 600;
}

.underline {
    color: yellow;
    font-weight: 1000;
    font-size: 1rem;
    margin-top: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.about {
    width: 35rem;
    height: 70vh;
    margin: auto;
    margin-top: 3rem;
}
.minmargin {
    margin: 20px;
}

.skills {
    width: 30rem;
    height: 50vh;
    margin: auto;
    margin-top: 3rem;
}

.darkh4 {
    color: grey;
    font-size: 1.5rem;
    font-weight: 600;
}

.h3 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.p {
    color: grey;
    font-size: 1.5rem;
    font-weight: 600;    
}

.pdf {
    text-decoration: none;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 3rem;
}

.button:hover {
    transition: ease-in .3s;
    background-color: pink;
    cursor: pointer;
}

.skillsdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whiteh4 {
    margin: auto;
    color: yellow;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

.skillscontainer {
    font-size: 1.5rem;
    color: white;
}

.ul {
    list-style: none;
}

.li {
    font-size: 1.5rem;
    color: grey;
}

.li:hover {
    transition: ease-in .3s;
    color: white;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .skills {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .skillsdiv {
        margin: 10px;
    }
}

@media (max-width: 500px) {
    .skills {
        margin-top: 15rem;
    }
    .li {
        font-size: 1.1rem;
    }
    .skillscontainer {
        font-size: 1.2rem;
    }
    
}